<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>        
  <session-factory>
    <!-- Database connection settings openshift -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<!--     <property name="connection.url">jdbc:mysql://127.6.56.2:3306/newedge</property> -->
<!--     <property name="connection.username">adminFgb83y4</property> -->
<!--     <property name="connection.password">6w-dfv3r9PGM</property> -->
<!--          <property name="hibernate.connection.datasource">java:comp/env/jdbc/MySQLDS</property> WS-->
    
      <!-- Database connection settings localhost -->
     <property name="connection.url">jdbc:mysql://localhost:3306/termproject?useLegacyDatetimeCode=false</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    
    
    
    <property name="show_sql">true</property>
   <mapping resource="com/model/Login.hbm.xml"/>
   <mapping resource="com/model/Directory.hbm.xml"/>
   <mapping resource="com/model/Employee.hbm.xml"/>
   <mapping resource="com/model/Files.hbm.xml"/>
   <mapping resource="com/model/LeaveRequest.hbm.xml"/>
   <mapping resource="com/model/Payment.hbm.xml"/>
   <mapping resource="com/model/Register.hbm.xml"/>
   <mapping resource="com/model/DirectoryEmployee.hbm.xml"/>
  </session-factory>
</hibernate-configuration>